body {
    text-align: center;
    margin: auto;
    background-image: url("../images/broadway.jpg")
}

#box {
    margin: 30px 20%;
    height: 550px;
    padding: 50px;
    background: rgba(131, 42, 42, 0.970);
    border: 5px solid rgb(49, 49, 49);
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin: 5px 5% 50px;
    padding: 25px;
    background: rgb(66, 66, 66);
    color: rgb(250, 202, 43);
    border: 10px dotted white;
}

#start, #startOver {
    margin: auto;
    font-size: 25px;
    padding: 10px;
    background: rgb(252, 200, 58);
    border: 2px solid rgb(172, 172, 172);
}

#start {
    width: 80px;
}

#startOver {
    width: 125px;
}

h2 {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
}

#timer {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 17px;
    padding: 5px;
    margin: 5px 5px 30px;
}

#time {
    font-size: 20px;
    padding: 5px;
}

.pink {
    color: rgb(253, 109, 133);
}

.red {
    color: red;
}

p {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.guess:hover {
    margin: auto;
    width: auto;
    background: rgb(252, 200, 58);
    border: 2px solid rgb(172, 172, 172);
}

#guess, #right {
    font-size: 25px;
}

#scoresheet {
    font-size: 30px;
}

#yourScore {
    text-align: left;
    margin-left: 25%;
}